# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
pyvenv.cfg

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode / IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Byte-compiled files
*.so
*.egg
*.egg-info
