.outer-scope-about {
    padding-top: 2em;
}

.introduction h2, .preference h2, .conclusion h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: glow 2s ease-in-out infinite alternate;
    padding: 0.5em 0 0.5em 0;
}

@keyframes glow {
    from {
        text-shadow: 0 0 2px #00ff41;
    }
    to {
        text-shadow: 0 0 10px #00ff41;
    }
}

.introduction, .preference, .conclusion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0.5rem;

}
