.introduction h2, .preference h2, .conclusion h2, .portfolio h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: glow 2s ease-in-out infinite alternate;
    padding: 0.5em 0;
    font-size: 28px;
    color: #00ff41;
    text-shadow:
        0 0 5px #00ff41,
        0 0 10px #00ff41,
        0 0 20px #00ff41;
    animation: neonPulse 1.5s infinite alternate;
}

@keyframes neonPulse {
    0% {
        text-shadow:
            0 0 5px #00ff41,
            0 0 10px #00ff41,
            0 0 20px #00ff41;
    }
    25% {
        text-shadow:
            0 0 10px #00ff41,
            0 0 15px #00ff41,
            0 0 25px #00ff41;
    }
    50% {
        text-shadow:
            0 0 7px #00ff41,
            0 0 12px #00ff41,
            0 0 22px #00ff41;
    }
    75% {
        text-shadow:
            0 0 12px #00ff41,
            0 0 18px #00ff41,
            0 0 30px #00ff41;
    }
    100% {
        text-shadow:
            0 0 5px #00ff41,
            0 0 10px #00ff41,
            0 0 20px #00ff41;
    }
}

.introduction h2 {
    margin-top: 0;
}

.introduction, .preference, .conclusion  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio ul {
    list-style: none;
    text-align: center;
    
}

.portfolio li {
    display: inline-block;
}

p {
    margin: 0.5rem;

}
