{% extends "base.html" %}

{% block title%}About Me{% endblock %}

{% block content %}
    <div class="introduction">
        <h2>Introduction</h2>
        <p>Hello, my name is {{name}}. I'm a junior developer who loves to learn new things about {{framework}} for example.</p>
        <p>This is my first web app based on {{framework}}. At the moment It looks simple and pleasant.</p>
        <p>By the end of this app, I will document everything I've learned.</p>
        <p>The journey will be exciting and full of challenges as I try to learn {{framework}} as well as possible!</p>
    </div>

    <div class="preference">
        <h2>Why I Chose {{framework}} instead of Django?</h2>
        <p>I choose {{framework}}, because I read that is simplier than Django.</p>
        <p>The second reason is, that I have a lot experience with Django.</p>
        <p>The lastly the app, that I'm building is a blog that needs to be simple and clean and {{framework}} is the perfect framework for this.</p>
    </div>

    <div class="conclusion">
        <h2>Conclusion</h2>
        <p>I will search for the basics of {{framework}} and may even try to explore it's advanced features.</p>
        <p>I think when I finish the app, I'll be proud of what I made and learned during of my journey of learning {{framework}}.</p>
        <p>The most important lesson is that no matter what I start to learn, I always finish what I started, and I will be proud what I learn, because knowledge is precious.</p>
        <p>No one tells me: 'You should learn {{framework}}, because you have to...'</p>
        <p>I have the initiative to sit and learn more about this framework, so that when I need to use it, I've already know what to do and help others.</p>
    </div>
{% endblock %}