body {
    background-color: black;
    color: #00ff00;
    font-family: 'Courier New', monospace;
}

.delete-message h2 {
    text-shadow:
        0 0 5px #00ff41,
        0 0 10px #00ff41,
        0 0 20px #00ff41;
    animation: neonPulse 1.5s infinite alternate;
}

@keyframes neonPulse {
    0% {
        text-shadow:
            0 0 5px #00ff41,
            0 0 10px #00ff41,
            0 0 20px #00ff41;
    }
    25% {
        text-shadow:
            0 0 10px #00ff41,
            0 0 15px #00ff41,
            0 0 25px #00ff41;
    }
    50% {
        text-shadow:
            0 0 7px #00ff41,
            0 0 12px #00ff41,
            0 0 22px #00ff41;
    }
    75% {
        text-shadow:
            0 0 12px #00ff41,
            0 0 18px #00ff41,
            0 0 30px #00ff41;
    }
    100% {
        text-shadow:
            0 0 5px #00ff41,
            0 0 10px #00ff41,
            0 0 20px #00ff41;
    }
}

.btn-danger {
    color:#00ff00;
    font-size: 22px;
    background-color: black;
}


.btn-danger:hover {
    background-color: #00ff00;
    color: black;
    border-radius: 0.5em;
}

.cancel-btn, .submit-delete-btn, .delete-message h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;

    
}

.cancel-btn a {
    text-decoration: none;
    font-size: 22px;
    border: 1px solid black;
    color: red;
    padding: 0.1em 1.2em;
    border-radius: 0.5em;
    transition: all 0.2s ease;
    font-family: monospace;
}

.cancel-btn a:hover {
    color: black;
    background-color: red;
}