.header-title h2, 
.recent-posts h2, .cta h2 {
    font-size: 28px;
}

.header-title h2 {
    color: #00ff41;
    text-shadow:
        0 0 5px #00ff41,
        0 0 10px #00ff41,
        0 0 20px #00ff41;
    animation: neonPulse 1.5s infinite alternate;
}

@keyframes neonPulse {
    0% {
        text-shadow:
            0 0 5px #00ff41,
            0 0 10px #00ff41,
            0 0 20px #00ff41;
    }
    25% {
        text-shadow:
            0 0 10px #00ff41,
            0 0 15px #00ff41,
            0 0 25px #00ff41;
    }
    50% {
        text-shadow:
            0 0 7px #00ff41,
            0 0 12px #00ff41,
            0 0 22px #00ff41;
    }
    75% {
        text-shadow:
            0 0 12px #00ff41,
            0 0 18px #00ff41,
            0 0 30px #00ff41;
    }
    100% {
        text-shadow:
            0 0 5px #00ff41,
            0 0 10px #00ff41,
            0 0 20px #00ff41;
    }
}

.header-title {
    text-align: center;
}

.header-title h2 {
    margin-top: 0;
    color: #00ff41;
    margin-bottom: 1rem;
}

.header-title p {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #00ff41; /* the typing cursor */
    font-family: monospace;
    font-size: 1.2rem;
    text-align: center;

    animation: typing 8s steps(104, end) forwards,
               hideCursor 0s forwards 8s; 
}

/* Typing keyframes */
@keyframes typing {
    from { width: 0; }
    to { width: 58%; }
}

@keyframes hideCursor {
    to { border-right: none; }
}

.recent-posts, .recent-posts h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-posts h4:first-child {
    margin-top: 0;
}

.recent-posts h2 {
    margin-bottom: 0;
}

.recent-posts ul {
    padding: 0;
}

.cta h2, .cta a, .footer-note p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta {
    text-align: center;
}

.cta h2 {
    padding-bottom: 0;
}

.cta h2:hover {
    animation: glitch 0.3s linear infinite;
}

@keyframes glitch {
    0% { transform: translate(0); }
    25% { transform: translate(-2px, 1px); }
    50% { transform: translate(2px, -1px); }
    75% { transform: translate(-1px, 2px); }
    100% { transform: translate(0); }
}

.cta a {
    display: inline-block;
    padding: 0.5em;
    border: 2px solid #00ff00;
    border-radius: 0.2em;
    margin-bottom: 6em;
}

.cta a:hover {
    background-color: #00ff41;
    color: black;
    box-shadow: 0 0 10px #00ff00;
}



