body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: #00ff00;
}

.admin-outer-scope {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-header {
    text-shadow:
        0 0 5px #00ff41,
        0 0 10px #00ff41,
        0 0 20px #00ff41;
    animation: neonPulse 1.5s infinite alternate;
}

@keyframes neonPulse {
    0% {
        text-shadow:
            0 0 5px #00ff41,
            0 0 10px #00ff41,
            0 0 20px #00ff41;
    }
    25% {
        text-shadow:
            0 0 10px #00ff41,
            0 0 15px #00ff41,
            0 0 25px #00ff41;
    }
    50% {
        text-shadow:
            0 0 7px #00ff41,
            0 0 12px #00ff41,
            0 0 22px #00ff41;
    }
    75% {
        text-shadow:
            0 0 12px #00ff41,
            0 0 18px #00ff41,
            0 0 30px #00ff41;
    }
    100% {
        text-shadow:
            0 0 5px #00ff41,
            0 0 10px #00ff41,
            0 0 20px #00ff41;
    }
}

.admin-password-label, .admin-username-label {
    text-align: center;
    padding: 1em 0 1em 0;
    animation: flicker 0.15s infinite alternate;
}

@keyframes flicker {
    0% { opacity: 0.85; }
    50% { opacity: 1; }
    100% { opacity: 0.9;}
}

.admin-login-btn {
    padding-top: 1em;
    text-align: center;
    
}

.btn-primary {
    color: #00ff00;
    border: 1px solid #00ff00;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

.btn-primary:hover {
    color: black;
    background-color: #00ff00;

}
