.post-header h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00ff41;
    font-size: 28px;
        text-shadow:
        0 0 5px #00ff41,
        0 0 10px #00ff41,
        0 0 20px #00ff41;
    animation: neonPulse 1.5s infinite alternate;
}

@keyframes neonPulse {
    0% {
        text-shadow:
            0 0 5px #00ff41,
            0 0 10px #00ff41,
            0 0 20px #00ff41;
    }
    25% {
        text-shadow:
            0 0 10px #00ff41,
            0 0 15px #00ff41,
            0 0 25px #00ff41;
    }
    50% {
        text-shadow:
            0 0 7px #00ff41,
            0 0 12px #00ff41,
            0 0 22px #00ff41;
    }
    75% {
        text-shadow:
            0 0 12px #00ff41,
            0 0 18px #00ff41,
            0 0 30px #00ff41;
    }
    100% {
        text-shadow:
            0 0 5px #00ff41,
            0 0 10px #00ff41,
            0 0 20px #00ff41;
    }
}

.post-header h2 {
    margin-top: 0;
}

.post-content h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
}

.post-content article {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10em 0 10em;
}

.post-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em; /* space between the two buttons */
    margin-top: 0.5em; /* space between title and buttons */
}

.read-more-btn, .delete-btn {
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 0.3em;
    font-family: monospace;
    font-size: 16px;
}


.read-more-btn {
    color: #00ff00;
    border: 1px solid #00ff00;
}

.read-more-btn:hover {
    background-color: #00ff00;
    color: black;
}

.delete-btn {
    color: red;
    border: 1px solid red;
}

.delete-btn:hover {
    background-color: red;
    color: black;
}

.search-form input {
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    border: 1px solid #00ff00;
    background-color: black;
    color: #00ff00;
}

.search-form button {
    background-color: #00ff00;
    color: black;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

form.search-form {
    position: relative;
    top: 10px;
    left: 850px;
    
}

.search-header h2, .search-output {
    display: flex;
    flex-direction: column;
    align-items: center;
}